<div id="header-container">
    <div id="search-bar">
        <span>🔍︎</span>
        <input type="search" placeholder="Busca tu Pokemon" [(ngModel)]="inputText" (ngModelChange)="sendInputText()"/>
        <span id="menu" (click)="changePanelVisibility()">☰</span>
        <div id="filter-container" [ngStyle]="{'visibility': visibility}">
            <div id="types-container" class="types">
                <div class="type button" *ngFor="let type of types; index as i" (click)="changeFilterTypesStatus(i); sendInputTypes()" [ngClass]="getTypeStatus(i)" [ngStyle]="{'background-color': type.color}">
                    {{type.name | traducir:'es'| titlecase}}
                </div>
            </div>
            <hr>
            <div id="gen-container">
                <div class="gen button" *ngFor="let gen of gens; index as i" (click)="changeFilterGensStatus(i); sendInputGens()" [ngClass]="getGenStatus(i)" [ngStyle]="{'background': gen.color}">
                    {{gen.name | titlecase}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="logo"><img src="../../../assets/images/logo.png" alt="header image"></div>
    <div class="luz1"><img src="../../../assets/images/rojo.png" alt="luz image"></div>
    <div class="luz2"><img src="../../../assets/images/amarillo.png" alt="luz2 image"></div>
    <div class="luz3"><img src="../../../assets/images/verde.png" alt="luz3 image"></div>
    <div class="traducir"><img src="../../../assets/images/azul.png" (click)="changeLan()" alt="luztraducir image"></div>
    <div class="logoDarkMode"><img (click)="toggleDarkMode()" src="../../../assets/images/tr.png" alt="darkMode image"></div>
</div>
