@import url(../../app.component.css);

#header-container{
  display: flex;
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 15px;
}

#search-bar{
  display: flex;
  margin: 15px 0 15px 15px;
  width: 30vw;
  background-color: rgb(168, 168, 168);
  border-radius: 15px;
}
#search-bar:hover{
  animation: pulse 1.2s ;
}

input{
  border: hidden;
  width: 90%;
  padding: 10px;
  background: #00000000;
  border-radius: 15px;
  font-size: larger;
}
input:focus{
  outline: none;
}
input::placeholder{
  user-select: none;
}

span{
  margin: 5px 5px 5px 10px;
  font-size: x-large;
  user-select: none;
  color: #757575;
}
#search-bar:hover span{
  animation: shake 0.3s;
}

#menu{
  border-radius: 15px;
  padding: 1px 10px 1px 10px;
  transition: 300ms;
  cursor: pointer;
}
#menu:hover{
  background: #00000028;
}

#types-container{
  z-index: 1;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  background-color: rgba(206, 206, 206, 0.9);
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}

.type:not(:empty){
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 5px;
  padding: 3px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  border-radius: 10px;
  text-shadow: rgb(0, 0, 0) 1px 1px 4px;
  cursor: pointer;
}
.type:hover{
  opacity: 70%;
  transform: scale(1.1);
  animation: pulse 1.2s infinite;
}
