@import url(../../app.component.css);

#header-container{
  margin: 1%;
  display: flex;
  height: min-content;
  background-color: rgba(213, 46, 46, 0.8);
  border-radius: 1vw;
  justify-content: space-around;
  align-items: center;
}

#search-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1%;
  width: 100%;
  background-color: rgba(219, 219, 219, 0.562);
  border-radius: 1vw;
}
#search-bar:hover{
  animation: pulse 1.2s ;
}

#menu{
  border-radius: 1vw;
  padding: 0.2vh 2vh 0.2vh 2vh;
  transition: 300ms;
  cursor: pointer;
}
#menu:hover{
  background: #00000028;
}

input{
  border: hidden;
  width: 100%;
  padding: 2%;
  background: #d7101000;
  border-radius: 1vw;
  font-size: 100%;
}
input[type="search"]::-webkit-search-cancel-button {
  height: 1vw;
  width: 1vw;
}
input:focus{
  outline: none;
}
input::placeholder{
  user-select: none;
}

span{
  margin: 0.1% 0 0.1% 2%;
  font-size: 100%;
  user-select: none;
  color: gray;
}
#search-bar:hover span{
  animation: shake 0.3s;
}

#types-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: min-content;
}

#gen-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min-content;
}

.button:not(:empty){
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vw;
  width: 8vw;
  height: auto;
  padding: 1vh;
  margin: 1vh;
  box-shadow: rgba(0, 0, 0, 0.5) 0.8vh 0.8vh 0.8vh;
  border-radius: 1vw;
  text-shadow: rgb(0, 0, 0) 0.2vh 0.2vh 0.8vh;
}
.button:hover{
  opacity: 50%;
  transform: scale(1.1);
  animation: pulse 1.2s infinite;
}
.button:active{
  transform: scale(1);
}

.active{
  opacity: 90%;
  transform: scale(0.9);
}
.active:before{
  content: '►';
}

#filter-container{
  z-index: 1;
  position: absolute;
  margin: 1%;
  left: 0vw;
  top: 100%;
  background-color: rgba(188, 80, 80, 0.9);
  border-radius: 1vw;
  padding: 1vw;
  user-select: none;
}

hr{
  border: hidden;
  height: 1vh;
  border-radius: 3vw;
  background-color: #000000;
  text-align: center;
  margin: 2vh 0 2vh 0;
}

.logo {
  transform: scale(0.6);
  margin-left: 4%;

  @media screen and (max-width: 600px) {
    visibility: collapse;
  }
}

.logo img {
  width: 25vw; 
  height: auto; 
  transition: filter 0.6s ease; 
}

.logo:hover img {
  filter: brightness(1.4);
}

.logoDarkMode{
  margin-right: 1%;
  transform: scale(0.6);
}

.logoDarkMode img {
  width: 50%;
  height: auto;
}

.logoDarkMode:hover img {
  filter: brightness(1.2);
  animation: shake 0.3s;
}

.traducir{
  transform: scale(0.9);
}

.traducir:hover img {
  filter: brightness(1.2);
  animation: shake 0.3s;
}

/* Aplicar animación a las imágenes */
.luz1 img {
  animation: parpadeo 1.5s infinite alternate; /* La primera imagen parpadea */
  transform: scale(0.5);
  width: 100%; 
  height: auto;
  
  @media screen and (max-width: 800px) {
    visibility: collapse;
  }
}

.luz2 img {
  animation: parpadeo 1.5s infinite alternate 0.3s; /* La segunda imagen parpadea con un retraso */
  transform: scale(0.5);
  width: 100%; 
  height: auto;
  
  @media screen and (max-width: 800px) {
    visibility: collapse;
  }
}

.luz3 img {
  animation: parpadeo 1.5s infinite alternate 0.6s; /* La tercera imagen parpadea con un retraso mayor */
  transform: scale(0.6);
  width: 100%; 
  height: auto;
  
  @media screen and (max-width: 800px) {
    visibility: collapse;
  }
}

@keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
