@import url(../../app.component.css);

#header-container{
  display: flex;
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 15px;
  justify-content: space-between;
  position: relative;

}

#search-bar{
  display: flex;
  height: min-content;
  margin: auto 0 auto 15px;
  width: 30vw;
  background-color: rgb(168, 168, 168);
  border-radius: 15px;
}
#search-bar:hover{
  animation: pulse 1.2s ;
}

input{
  border: hidden;
  width: 90%;
  padding: 10px;
  background: #f8000000;
  border-radius: 15px;
  font-size: larger;
}

input[type="search"]::-webkit-search-cancel-button {
  height: 10px;
  width: 10px;
}

input:focus{
  outline: none;
}
input::placeholder{
  user-select: none;
}

span{
  margin: 5px 5px 5px 10px;
  font-size: x-large;
  user-select: none;
  color: #757575;
}
#search-bar:hover span{
  animation: shake 0.3s;
}

#menu{
  border-radius: 15px;
  padding: 1px 10px 1px 10px;
  transition: 300ms;
  cursor: pointer;
}
#menu:hover{
  background: #00000028;
}

#types-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: min-content;
  padding-top: 3px;
}

#gen-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min-content;
  padding-bottom: 3px;
}


.button:not(:empty){
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 5px;
  padding: 3px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  border-radius: 10px;
  text-shadow: rgb(0, 0, 0) 1px 1px 4px;
  cursor: pointer;
}
.button:hover{
  opacity: 50%;
  transform: scale(1.1);
  animation: pulse 1.2s infinite;
}
.button:active{
  transform: scale(1);
}

.active{
  opacity: 90%;
  transform: scale(0.9);
  
}

.active:before{
  content: '►';
}

#filter-container{
  z-index: 1;
  position: absolute;
  margin-left: -14px;
  top: 95px;
  background-color: rgba(206, 206, 206, 0.9);
  border-radius: 15px;
  padding: 10px;
  user-select: none;
}

hr{
  border: 3px solid #666;
  border-radius: 300px/10px;
  height: 0px; 
  text-align: center;
  box-shadow: 0 1px 5px 1px rgb(114, 114, 114);
  margin-top: 12px;
  margin-bottom: 10px;
}

.gen:nth-child(1) {
  /* Gradiente para el primer juego de la primera generación */
  background: linear-gradient(to bottom,  rgb(11, 188, 11), rgb(229, 58, 11))/* Colores representativos */
}

.gen:nth-child(2) {
  /* Gradiente para el segundo juego de la primera generación */
  background: linear-gradient(to bottom, rgb(175, 173, 167),rgb(214, 214, 4)); /* Colores representativos */
}

.gen:nth-child(3) {
  /* Gradiente para el primer juego de la segunda generación */
  background: linear-gradient(to bottom,  rgb(255, 8, 8), rgb(74, 171, 29), rgb(39, 25, 195)); /* Colores representativos */
}

.gen:nth-child(4) {
  
  background: linear-gradient(to bottom,  rgb(82, 148, 223),  rgb(231, 66, 220)); /* Colores representativos */
}

.gen:nth-child(5) {
  /* Gradiente para la quinta generación */
  background: linear-gradient(to bottom,  rgb(198, 198, 190),rgb(40, 39, 39)); /* Colores representativos */
}

.gen:nth-child(6) {
  /* Gradiente para la sexta generación */
  background: linear-gradient(to bottom,  rgb(0, 94, 255), rgb(177, 18, 42)) /* Colores representativos */
}

.gen:nth-child(7) {
  /* Gradiente para la séptima generación */
  background: linear-gradient(to bottom, rgb(255, 123, 0),  rgb(136, 0, 255)); /* Colores representativos */
}

.gen:nth-child(8) {
  /* Gradiente para la octava generación */
  background: linear-gradient(to bottom, rgb(188, 54, 41), rgb(45, 135, 220)); /* Colores representativos */
}

/* Estilos para centrar la imagen y efecto de brillo */
.logo {
  transform: scale(0.6);
}

.logo img {
  max-width: 100%; 
  max-height: 100%; 
  transition: filter 0.6s ease; 
}

.logo:hover img {
  filter: brightness(1.2);
}