
.pokemon-list{
  --default: rgba(146, 146, 146, 0.418);
  --normal: rgb(168, 168, 120);
  --fire: rgb(240, 128, 48);
  --water: rgb(76, 113, 199);
  --grass: rgb(91, 202, 36);
  --electric: rgb(255, 213, 0);
  --ice: rgb(93, 228, 228);
  --fighting: rgb(192, 48, 40);
  --poison: rgb(160, 64, 160);
  --ground: rgb(157, 137, 83);
  --flying: rgb(168, 144, 240);
  --psychic: rgb(248, 88, 136);
  --bug: rgb(183, 199, 81);
  --rock: rgb(133, 98, 3);
  --ghost: rgb(112, 88, 152);
  --dragon: rgb(114, 66, 224);
  --dark: rgb(103, 79, 63);
  --steel: rgb(148, 145, 145);
  --fairy: rgb(240, 182, 188);
}

.pokemon-list{
  font-size: 30px;
  font-weight: bolder;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(400px, 100%/6)), 1fr));
}

.pokemon{
  width: 93%;
  height: 93%;
  margin: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  transition: 250ms;
  cursor: pointer;
  
  
}

.id{
  margin: 20px 20px;
  padding: 5px;
  width: min-content;
  background-color: rgba(243, 243, 243, 0.418);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  border-radius: 10px;
}
.id:before{
  content: 'nº\00A0';
}

.name{
  font-size: larger;
  margin: auto auto 15px;
}

.sprite{
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.pokemon:hover{
  transform: scale(1.02);
  animation: pulse 1.2s infinite ;
}

.pokemon:hover .sprite{
  animation: pokemonIdle 0.6s infinite alternate;
}

.centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: initial;
}

.types > div:not(:empty){
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 3px;
  width: 200px;
  margin: 0 4px 30px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  border-radius: 10px;
  text-shadow:
  rgba(0, 0, 0, 0.5) 0px 4px 4px;
  
}

@keyframes pokemonIdle {
  0%  {bottom: 0px;}
  100% {bottom: 13px;}
  
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.747); 
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.744); 
  }
  100% {
      -moz-box-shadow: 0 0 0 8px rgba(204,169,44, 0); 
      box-shadow: 0 0 0 8px rgba(204,169,44, 0);
  }
}
