@import url(../../app.component.css);

.default-pokemon-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.default-pokemon-width .pokemon {
  width: 80%;

}
/* Clase para un solo Pokémon */
.one-pokemon-width .pokemon {
  width: 25%;

}
/* Clase para dos Pokémon */
.two-pokemon-width .pokemon {
  width: 60%;
}
/* @media (max-width: 768px) {
  #pokemon-list {
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 1080px) {
  #pokemon-list {
    font-size: 1em;
    text-align: center;
  }
}

@media (min-width: 1680px) {
  #pokemon-list {
    font-size: 2em;
  }
}

@media (min-width: 3660px) {
  #pokemon-list {
    font-size: 4em;
  }
} */
