<div id="pokemon-list">
  <div class="pokemon" *ngFor="let pokemon of getPokemonesFiltered()" [ngStyle]="getGradientBackground(pokemon)">
    <div class="id">{{ pokemon.id | idFormat }}</div>
    <div class="centered">
      <img class="sprite" src="{{pokemon.spriteNormal}}" alt="{{pokemon.name}} sprite">
    </div>
    <div class="name">{{ pokemon.name | titlecase }}</div>
    <div class="centered types">
      <div class="type" [ngStyle]="{ 'background-color': typeColors[pokemon.type1] }">{{ pokemon.type1 | titlecase }}</div>
      <div class="type" [ngStyle]="{ 'background-color': typeColors[pokemon.type2] }">{{ pokemon.type2 | titlecase }}</div>
    </div>
  </div>
</div>
