@import url(../../app.component.css);

#pokemon-details{
  display: grid;
  grid-template-columns: auto auto;
  padding: 1%;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(calc(90% / 1), 1fr));
  }
}

h3{
  vertical-align: middle;
}

.pokemon{
  width: 80%;
  height: auto;
}

#block-1{
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#details-container{
  padding-right: 4%;
  @media screen and (max-width: 1000px) {
    grid-column: 1 / span 2;
  }
}

#evolution-container{
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(90% / 3), 1fr)); /* Tres Pokémon por fila por defecto */
  gap: 1%;

  /* Media query para ajustar a dos Pokémon por fila al reducir el zoom (móviles) */
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(calc(90% / 2), 1fr));
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(calc(90% / 1), 1fr));
  }
}

.move-table {
width: 100%;
text-align: center;
vertical-align: center;
border-spacing: 20px;
}

th{
  border-radius: 20px;
  border: solid black 2px;
  background-color: rgba(215, 160, 160, 0.927);
}

#effectiveness-container{
  grid-column: 1 / span 2;
  align-items: center;
  justify-content: center;
}

.effectiveness{
  display:flex;
  width: 100%;
  gap: 5%;
  justify-content: space-around;
}

.statsBasic{
  display: flex;
  font-size: 100%;
  color: #ffffff;
  gap: 2%;
}
.list{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 2em;
  padding: 2%;
}
.list .type{
  margin: 5%;
}

.block{
  background-color: rgba(213, 46, 46, 0.8);
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.5) 0.8vh 0.8vh 0.8vh;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font-weight: bold;
  padding: 2%;
  margin-bottom: 5%;
}

.evolution{
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  font-weight: bold;
}

.stat-bar {
  height: 2vh;
  background-color: #ffffffc4;
  border-radius: 5vw;
  overflow: hidden;
  width: 40vw;
}

.stat-bar-fill {
  height: 100%;
  background-color: #4ca1db;
  border-radius: 5vw;
  animation: fillAnimation 2s ease forwards;
}

.stat-name{
  font-weight: bold;
}

.height::after {
  content: ' m'; /* Agrega Metros después de la altura */
}

.weight::after {
  content: ' kg'; /* Agrega Kg después del peso */
  
}

.description{
  color: #ffffff;
}

@keyframes fillAnimation {
  0% {
    width: 0; /* Estado inicial, la animación comienza desde cero ancho */
  }
  100% {
    width: var(--stat-value); /* Estado final, utiliza tu variable */
  }
}

.blockA{
  background-color: rgba(213, 46, 46, 0.8);
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.5) 0.8vh 0.8vh 0.8vh;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font-weight: bold;
  padding: 1%;
  margin-bottom: 5%;
}

td{
  width: 10%;
}

#lvl-moves-table{
  grid-column: 1 / span 2;
  
}

#machine-moves-table{
  grid-column: 1 / span 2;
  
}

/* Media query para dispositivos móviles */
/* Media query para dispositivos móviles */
@media screen and (max-width: 700px) {
  /* Reducción del tamaño de las tablas */
  .move-table {
    font-size: 14px;
  }

  /* Reducción del espacio entre las celdas de la tabla */
  .move-table th,
  .move-table td {
    padding: 6px;
  }

  /* Reducción del tamaño de letra de los th */
  .move-table th {
    font-size: 12px;
  }
}

/* Estilos para dispositivos móviles con pantalla aún más pequeña */
@media screen and (max-width: 400px) {
  /* Reducción adicional del tamaño de las tablas */
  .move-table {
    font-size: 12px;
  }

  /* Reducción del espacio entre las celdas de la tabla */
  .move-table th,
  .move-table td {
    padding: 4px;
  }

  /* Reducción adicional del tamaño de letra de los th */
  .move-table th {
    font-size: 10px;
  }
}