/* You can add global styles to this file, and also import other style files */
/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
  font-family: 'Open Sans', sans-serif;
}

/* Dark mode style */
.dark-mode {
  background-color: black;
  font-size: xx-small;
}
